h1 {
    display: block;
    background-color: #b8ffe7;
    border: 1px solid silver;
    font-weight: 700;
    font-size: 3em;
    color: #2e7d6b;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 25px;
}